extends base.pug

block content
	h1 Edit an Owner!
	form(method="POST", action=`/owner/${owner.id}?_method=PATCH`)
		input(type="text", name="name", value=`${owner.name}`)
		input(type="submit", value="Edit an Owner!")
	form(method="POST", action=`/owner/${owner.id}?_method=DELETE`)
		label Delete ME!!!! 
		button(type="submit") X